{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="cover-heading" >История городов</h1>
</div>

<form action="{{ url_for('delete') }}" method="POST">
    <input type="submit" value="Delete"
    class="btn-danger dropdown-toggle"
    onclick="return confirm('История будет удалена. Подтвердите операцию!')">
    <a href="{{ url_for('index') }}">
    <span class="badge badge-warning">Главная</span>
    </a>
</form>

{% for post in posts %}
    <div class='col-4 offset-2'>     
        <div class='alert alert-info'>
            <div class='row'>
                <div class='col-8'>
                    <b>Город:</b> {{ post["context"] }} <br>
                    <b>Температура:</b> {{ post["tempr"] }}°C <br>
                </div>
                <div class='col-3 offset-1'>
                    <img src='https://openweathermap.org/img/wn/{{ post["icon"] }}.png' alt='Photo' class='img-thumbnail'>
                </div>
            </div>                       
        </div>
    </div>

{% endfor %}

{% endblock %}